<!DOCTYPE html>
<html>
    <head>
        <title>Cattleya</title>
    </head>
    <body>
        <a>{{ .name }}</a>
        <a href="/logout">logout</a>
        <br>

        <a href="/input"> Input </a>

    </body>
</html>
