<!DOCTYPE html>
<html>
    <head>
        <title>Cattleya</title>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css' rel='stylesheet'/>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js
    '></script>

        <script>
        // for fullCalendar
        $(document).ready(function() {
            $('#calendar').fullCalendar({

                dayClick: function(date, jsEvent, view, resourceObj) {
                    alert('Date: ' + date.format());
                },

                events: [
                    {{range .journal}}
                        {
                            title: '¥' + '{{.Budget}}',
                            start: {{.Date}},
                            {{if .IsOUTGO }}
                                color: "orange",
                            {{else}}
                                color: "green",
                            {{end}}
                        },
                    {{end}}
                ],

            })
        });

        // for submit 
        $(function() {
            $('#form').submit(function(event) {
                var form = $(this)
                event.preventDefault();
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function(response) {
                        //alert(response['status'])
                        if(response['status'] != 'ok'){
                            return 
                        }
                        // fix calendar content

                        var color = ""
                        if (response['budget_type'] == 'outgo') {
                            color = "orange" 
                        } else {
                            color = "green" 
                        }
                        $('#calendar').fullCalendar('addEventSource', [{
                            title: '¥'+response['budget'],
                            start: response['date'],
                            allDay: true,
                            color: color
                            }]
                        );
                    },
                    error: function(xhr) {
                        alert(xhr.responseText)
                    }
                });
                return false;
            });
        });
        </script>
    
    </head>
    <body>
        <a>Hello {{ .name }}</a>
        <a href="/logout">logout</a>
        <br>

       <!--  <a href="/input"> Input </a> -->

        <div id='calendar'></div>

        <form id="form" action="/json/submit" method="POST">
        <p>
        <input type="date" name="date" required/>
        </p>
        <p><input type="number" name="budget" required/> yen</p>
        <p>
        <input type="radio" name="budget_type" value="outgo" checked="checked"/>outgo
        <input type="radio" name="budget_type" value="income"/>income
        </p>
        <input type='submit' value='Submit'/>
        </form>
    </body>
</html>
